doctype html
html(lang='en')
    head
        title Walkdog
        script(type='text/javascript').
            foo = true;
            bar = function () {};
            if (foo) {
                bar(1 + 5)
            }
    body
        h1 Walkdog
        #container.col
            p 로그인
            p
                | 반려동물과 함께 하는 건강한 산책
        .image-block
            h3 Hello
            img.className#IdName(src="/public/images/walk.png" alt="Image Title")
        